.imageCentre90{
    width: 90%;
}

.centreImage{
    display: flex;
    justify-content: center;
}

@media screen and (min-width:680px){
    .imageCentre90{
        width: 80%;
    }
}
@media screen and (min-width:900px){
    .imageCentre90{
        width: 70%;
    }
}
@media screen and (min-width:1000px){
    .imageCentre90{
        width: 60%;
    }
}